.commentArea label {
	margin:16px 0;
	margin:1rem 0;
	margin:0;
	font-family:"Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:700;
	color:#75D6FF;
}

.commentArea .form-group {
	margin:16px 16px 0 0;
}

.postOperations {
	margin: 16px 0;
}

.translateEditor .half-block {
	display: inline-block;
	height: 200px;
}

.origcontent {
	overflow: auto;
	border: 1px solid #e2e2e2;
	display: inline-block;
	padding: 12px;
	height: 600px;
	width: 100%;
}

.form-group {
	margin: 16px 16px 0 0;
}


/*.translateEditor .half {
	display: inline-block;
}

.translateEditor .editor {
	float: right;
}

.translateEditor .content {
	width: 1000px;
}*/