 /* ====================================================
	Sign in
   ==================================================== */
* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}
body {
font-family: Arial;
background-color: #75D6FF;
padding: 50px;
}

.login, .register {
background-color: #FFF;
margin: 20px auto;
width: 300px;
padding: 20px;
border-radius: 5px
}

.register {
width: 400px;
}

.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #777;
}

.preference-title {
text-align: center;
color: #777;
}

.pref-fieldname {
display: block;
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

.register-field, .login-field {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

.checkbox-input {
/*  text-align: left;
  display      : block;
  width: 360px;*/
}

.checkboxes {
  margin-bottom:32px;
  margin-bottom:2rem;
  padding:12px;
  padding:0.75rem;
}

ul {
  margin:0;
  padding:0;
  list-style:none;
}

ul {
  padding:12px;
  padding:0.75rem;
}
ul li {
  margin-bottom:4px;
  margin-bottom:0.25rem;
  color: #777;
}
ul li:last-child {
  margin-bottom:0;
}

/* Remove margin-bottom from the last .widget */
/*.sidebar > div:last-child {
  margin-bottom:0;
}*/

.register-field {
  width: 360px;
}

input:focus {
border: 2px solid #75D6FF;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #75D6FF;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #69c0e5;
}

.register-link {
  font-size: 13px;
  color: #444;
  display: block;
  margin-top: 13px;
}

