<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <link media="all" type="text/css" href="/app/css/welcome.css" rel="stylesheet">
    <title>BordlessFic</title>
 
</head>
 
<body ng-controller="RegisterCtrl">
 
    <div class="register">
        <div class="app-title">
            <h2>Register</h2>
        </div>
        <form class="register-form" name="regForm">
            <div class="control-group" ng-class="{ 'has-error' : regForm.email.$invalid }">
                <!-- <label>Email</label> -->
                <input type="email" name="email" class="register-field" placeholder="Email address" id="login-name" ng-model="user.email">
                <p class="help-block" ng-show="regForm.email.$invalid">Enter a valid email.</p>
                <p style="color:red;" ng-show="regError">{{regErrorMessage}}</p>
            </div>
            <div class="control-group" ng-class="{ 'has-error' : regForm.email.$invalid }">
                <!-- <label>Password</label> -->
                <input type="password" name="password" class="register-field" placeholder="Password" ng-model="user.password" ng-minlength="6">
                <p class="help-block" ng-show="regForm.password.$error.minlength">Min password length is 6 characters.</p>
            </div>
            <div class="control-group">
                <!-- <label>Username</label> -->
                <input type="username" name="username" class="register-field" placeholder="Username" ng-model="user.username">
            </div>

            <!-- <p class="preference-title">YOUR PREFERENCES</p> -->
            <div class="control-group checkboxes">
                <p class="pref-fieldname">Languagues</p>
                <ul ng-repeat="language in languages">
                    <li><input class=".checkbox-input" type="checkbox" ng-checked="langSelection.indexOf(language.$id) > -1" ng-click="toggleLang(language.$id)">{{language.$id}}</input></li>
                </ul>
                <p class="pref-fieldname">Fandoms</p>
                <ul ng-repeat="fandom in fandoms">
                    <li><input class=".checkbox-input" type="checkbox" ng-checked="fandomSelection.indexOf(fandom.$id) > -1" ng-click="toggleFandom(fandom.$id)">{{fandom.$id}}</input></li>
                </ul>
               <!--  <p>Genres</p>
                <label ng-repeat="genre in genres">
                    <input type="checkbox" ng-checked="genreSelection.indexOf(genre.$id) > -1" ng-click="toggleGenre(genre.$id)">{{genre.$id}}
                </label> -->
            </div>
            <button class="btn btn-primary btn-large btn-block" type="button" ng-click="signUp();" ng-disabled="!user.email || !user.password">Register</button>
        </form>

 
    </div>
 
</body></html>